.list {
  max-height: 300px;
}

.row {
  display: flex;
  align-items: center;
  gap: var(--space-2);
  width: 100%;
  padding: var(--space-1) var(--space-2);
  border-radius: var(--radius-2);
}

.row:hover {
  background-color: var(--gray-3);
}

.rowButton {
  display: flex;
  flex-grow: 1;
  align-items: center;
  min-width: 0;
  padding: var(--space-1) 0;
  cursor: pointer;
  text-align: left;
  border: none;
  background: none;
  gap: var(--space-2);
}

.rowLabel {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.checkIconContainer {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  width: 16px;
}

.scheduledDate {
  white-space: nowrap;
  color: var(--gray-10);
}
